.track-page{

min-height:100vh;

padding:50px;

background:
linear-gradient(
135deg,
#eef4ff,
#f8fbff
);

}

.track-box{

max-width:900px;

margin:auto;

background:#fff;

padding:40px;

border-radius:20px;

box-shadow:
0 10px 30px
rgba(0,0,0,.08);

text-align:center;

}

.track-box h1{

margin-bottom:10px;

}

.track-box p{

color:#777;

}

.search{

display:flex;

gap:15px;

margin-top:25px;

}

.search input{

flex:1;

padding:16px;

border:1px solid #ddd;

border-radius:10px;

}

.search button{

width:180px;

border:none;

background:#0a66ff;

color:#fff;

border-radius:10px;

cursor:pointer;

}

.result{

margin-top:40px;

background:#fff;

padding:35px;

border-radius:20px;

box-shadow:
0 8px 24px
rgba(0,0,0,.08);

}

.top{

display:flex;

justify-content:
space-between;

align-items:center;

}

.badge{

padding:10px 20px;

background:#0a66ff;

color:#fff;

border-radius:40px;

}

.details{

margin-top:30px;

}

.details p{

display:flex;

justify-content:
space-between;

padding:14px;

border-bottom:
1px solid #eee;

}

.timeline{

display:flex;

justify-content:
space-between;

margin-top:45px;

gap:10px;

}

.step{

flex:1;

text-align:center;

opacity:.35;

}

.step.active{

opacity:1;

}

.circle{

width:50px;

height:50px;

background:#ddd;

margin:auto;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-weight:700;

}

.step.active .circle{

background:#0a66ff;

color:white;

}

.description{

margin-top:35px;

padding:20px;

background:#f5f7ff;

border-radius:12px;

}

@media(max-width:768px){

.search{

flex-direction:column;

}

.timeline{

flex-direction:column;

}

}