.about{

padding:80px 10%;

background:white;

}


/* Header */

.about-header{

text-align:center;

margin-bottom:70px;

}


.about-header h1{

font-size:45px;

margin-bottom:15px;

color:#0a192f;

}


.about-header span{

color:orange;

}


.about-header p{

font-size:18px;

line-height:1.8;

color:#666;

}



/* Company */

.about-company{

margin-bottom:70px;

}


.about-company h2{

margin-bottom:20px;

color:#0a192f;

}


.about-company p{

line-height:2;

color:#555;

}



/* Cards */

.about-cards{

display:grid;

grid-template-columns:
repeat(3,1fr);

gap:30px;

margin-bottom:70px;

}


.about-card{

padding:30px;

text-align:center;

border-radius:15px;

box-shadow:
0px 3px 15px rgba(0,0,0,.1);

transition:.3s;

}


.about-card:hover{

transform:
translateY(-10px);

}


.about-icon{

font-size:40px;

color:orange;

margin-bottom:20px;

}


.about-card h3{

margin-bottom:15px;

color:#0a192f;

}


.about-card p{

line-height:1.8;

color:#666;

}



/* Stats */

.about-stats{

background:#0a192f;

padding:50px;

border-radius:15px;

display:grid;

grid-template-columns:
repeat(3,1fr);

text-align:center;

color:white;

margin-bottom:70px;

}


.about-stats h2{

font-size:40px;

color:orange;

}



/* Why */

.why-us{

text-align:center;

}


.why-us h2{

margin-bottom:35px;

color:#0a192f;

}


.why-container{

display:grid;

grid-template-columns:
repeat(3,1fr);

gap:25px;

}


.why-container article{

padding:25px;

background:#f8f9fa;

border-radius:15px;

}


.why-container svg{

font-size:35px;

color:orange;

margin-bottom:15px;

}



/* Responsive */

@media(max-width:768px){

.about{

padding:50px 20px;

}


.about-cards{

grid-template-columns:1fr;

}


.about-stats{

grid-template-columns:1fr;

gap:25px;

}


.why-container{

grid-template-columns:1fr;

}


.about-header h1{

font-size:35px;

}

}


@media(max-width:480px){

.about-header h1{

font-size:28px;

}

}