.user-home{

background:#f8fafc;

min-height:100vh;

}



/* HERO */

.hero{

height:80vh;

background-size:cover;

background-position:center;

position:relative;

}



.hero-overlay{

height:100%;

background:
rgba(
0,
0,
0,
0.45
);

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

color:white;

text-align:center;

padding:20px;

}



.hero h1{

font-size:60px;

}



.hero p{

margin:20px 0;

font-size:22px;

}



.hero-search{

display:flex;

gap:10px;

}



.hero-search input{

width:350px;

padding:16px;

border:none;

border-radius:10px;

}



.hero-search button{

padding:16px 26px;

border:none;

background:#2563eb;

color:white;

border-radius:10px;

cursor:pointer;

}



/* SERVICES */

.services{

padding:80px 10%;

}



.services h2{

text-align:center;

margin-bottom:40px;

}



.service-grid{

display:grid;

grid-template-columns:

repeat(
4,
1fr
);

gap:20px;

}



.service-card{

background:white;

padding:40px;

text-align:center;

border-radius:16px;

box-shadow:

0 6px 20px

rgba(
0,
0,
0,
.08
);

transition:.3s;

}



.service-card:hover{

transform:

translateY(
-6px
);

}



/* PROCESS */

.process{

padding:80px 10%;

}



.process-grid{

display:grid;

grid-template-columns:

repeat(
4,
1fr
);

gap:20px;

}



.process-grid div{

background:white;

padding:40px;

text-align:center;

border-radius:14px;

}



/* CTA */

.cta{

padding:80px;

text-align:center;

}



.cta button{

padding:15px 40px;

background:#2563eb;

color:white;

border:none;

border-radius:10px;

}



/* MOBILE */

@media(max-width:768px){

.hero h1{

font-size:38px;

}



.hero-search{

flex-direction:column;

}



.hero-search input{

width:100%;

}



.service-grid,

.process-grid{

grid-template-columns:1fr;

}

}